{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
    <br>
     <div class="container-fluid text-warning text-bg-light">
        <h1><img class='card-img-top' style="height:400px" src="{% static 'images/e16.png' %}" alt="Card image"></h1>
        <p>
    <br>
    <div class="alert alert-success">
      <h3>ท่องเที่ยว</h3>
      <p>   เพราะโลกนี้กว้างใหญ่กว่าแค่ทุกวันที่ใช้ชีวิตอยู่ ชอบดูธรรมชาติที่โลกสร้างขึ้นมา การออกไปค้นหาโลกว่ามีอะไรที่แตกต่างและน่าสนใจ</p>
      <p>   ความสนุกที่ได้ค้นหาสิ่งใหม่ๆ อาจนำพาความสุขมาให้อย่างไม่รู้ตัว </p>
    </div>
</div>
   <div class="alert alert-info">
      <h3>อ่านหนังสือ</h3>
      <p>การอ่านหนังสือเป็นวิธีสร้างความบันเทิงให้กับตัวเองวิธีหนึ่ง</p>
      <p>หลายคนมีความสุขกับการได้ซื้อหนังสือ แต่บางคนนั้นการไปยืมหนังสือมาจากห้องสมุดเป็นทางเลือกที่ดีกว่า เพราะห้องสมุดมีหนังสือมากมายหลากหลายประเภทให้คุณได้เลือกอ่านโดยไม่ต้องเสียเงินจำนวนมากในการซื้อ และห้องสมุดมักจะนำหนังสือใหม่ๆ เข้ามาเสมอ  อย่างไรก็ตาม หากคุณไม่สะดวกในการที่จะไปห้องสมุด คุณก็สามารถอ่านหนังสือผ่านทางอุปกรณ์อิเล็กทรอนิกส์ต่างๆ
          ได้ เพราะทุกวันนี้หนังสือหลายเล่มมีการทำออกมาในรูปแบบของ e-book หรือ PDF ที่สามารถดาวน์โหลดได้ฟรี</p>
    </div>
  <div class="alert alert-warning">
   <h3>ฟังเพลง</h3>
      <p>การฟังเพลง มีประโยชน์เพื่อผ่อนคลายความเครียดทั้งทางร่างกายและจิตใจ</p>
      <p>ก่อให้เกิดสมาธิ เราจึงควรหาโอกาสฟังเพลง โดยเลือกเวลาที่ว่างหรือเวลาที่ไม่รีบเร่ง หรือไม่ต้องใช้ความคิด เช่น เวลารับประทานอาหาร ระหว่างการเดินทาง ขณะพักผ่อน ออกกำลังกาย หรือขณะทำงานบ้าน เป็นต้น หากจะใช้ในที่ทำงาน ควรเลือกเวลา สถานที่และโอกาสที่เหมาะสม เพื่อไม่เป็นการรบกวนผู้อื่น
          และควรมีเทปเพลงที่ชื่นชอบหรือโปรดปราน ติดไว้เพื่อหยิบใช้ได้สะดวกทุกเวลาที่ต้องการ</p>
    </div>

  <div class="alert alert-danger">
   <h3>ดูซีรี่ย์,ภาพยนตร์</h3>
      <p>
 ที่ชอบดูซี่รี่ย์นั้นเป็นสิ่งที่ทำให้เราเกิดความเพลิดเพลินในขณะที่กำลังรับชม</p>
      <p> การถ่ายทอดเรื่องราวผ่านฟิล์มมาให้เราชมนั้นมีประโยชน์มากว่าที่เราคิด เพราะภาพยนตร์ส่วนมากได้สร้างมาจากเค้าโครงของเรื่องราวจริง ประสบการณ์จริงที่ได้เกิดขึ้น ถ่ายทอดเป็นเรื่องราวเพื่อสื่อให้เราได้รับรู้ถึงเรื่องราวรวมถึงเหตุการณ์นั้น ๆ</p>
  </div>
</div>

</body>
</html>
{% endblock %}