{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
    <br>

    <div class="row text">
        <div class="col-lg-3">
            <img src="{% static 'images/m6.jpg' %}" width="320px" height="200"
                 class="img-thumbnail">
        </div>

        <div class="col-lg-9">
            <div class="mt-1 p-4 text-white rounded" style="background-color: #51C2D5">
                <h5><b>Mark Elliot Zuckerberg </b></h5>
                <p class="alert alert-info">เป็นผู้เชี่ยวชาญด้าน Social เป็นผู้อำนวยการศูนย์ Facebook
              ซักเคอร์เบิร์ก ได้ใช้คอมพิวเตอร์ในการเขียนซอฟต์แวร์ ตั้งแต่ยังเป็นเด็กในชั้นประถมปลาย พ่อเขาสอนให้ใช้โปรแกรมพื้นฐานของอาตาริในช่วงคริสต์ทศวรรษ 1990
                    และต่อมายังจ้างนักพัฒนาซอฟต์แวร์ ที่ชื่อ เดวิด นิวแมน มาสอนเป็นการส่วนตัว นิวแมนเรียกเขาว่า "เด็กอัจฉริยะ" และกล่าวต่อว่า "ยากที่จะล้ำหน้าเกินเขา"
                    ซักเกอร์เบิร์กยังเรียนคอร์สที่วิทยาลัยเมอร์ซี ใกล้กับบ้านของเขาขณะที่เรียนระดับไฮสคูลอยู่ เขามีความสนุกกับการพัฒนาโปรแกรมคอมพิวเตอร์ โดยเฉพาะอย่างยิ่ง
                    เครื่องมือด้านการสื่อสารและเกม ตัวอย่างเช่น มีโปรแกรมหนึ่ง ซึ่งพ่อของเขาที่เป็นทันตแพทย์ เขาสร้างโปรแกรมที่ชื่อ "ซักเน็ต"
                    ที่จะให้คอมพิวเตอร์สามารถสื่อสารได้ระหว่างบ้านกับสำนักงานทันตแพทย์
                    โดยใช้ระบบปิงหากัน ถือว่าเป็นเมสเซนเจอร์รุ่นดึกดำบรรพ์ของเอโอแอล ซึ่งออกมาภายหลัง</p>
            </div>

            <div class="mt-3 p-4 text-white rounded" style="background-color: #FD464A">
                <p class="alert alert-warning">Mark Elliot Zuckerberg กล่าวว่า "การที่เราจะก้าวไปข้างหน้าได้นั้น เราต้องลองสิ่งใหม่ๆ ลองแล้วลองอีก พยายามแล้วพยายามอีก ความพยายามทำให้สร้างโอกาส
              ความสำเร็จต้องแลกมาด้วยบางอย่าง เราต้องเสียสละและเสี่ยงที่จะสูญเสีย มันไม่สำคัญหรอกว่าเราจะพลาดกี่ครั้ง ถ้า 1 ใน 200 ครั้งนั้น
              มันทำให้เราได้ผลลัพธ์ที่ทำให้เราก้าวข้ามขีดจำกัดของวิทยาการ ทำให้เกิดการเปลี่่ยนครั้งใหญ่"</p>
            </div>
        </div>
    </div>

{% endblock %}